services:
  newsletter:
    build: .
    container_name: newsletter
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - observability
    volumes:
      - ./db:/app/db

networks:
  observability:
    external: true
